<template>
  <!--Form Section  - Primary Contact-->
  <FormulateForm @submit="updateUser">
      <h1 class="mb-1 text-2xl font-bold md:text-3xl text-blue-dark title-font">{{ $t('primary_contact.primary_contact') }}</h1>
      <h4 class="">{{ $t('primary_contact.description') }}</h4>
      <div class="flex flex-col max-h-screen">
            <FormulateInput input-class="w-full px-4 py-2 mt-4 mb-4 text-base leading-tight text-gray-700 bg-white rounded shadow appearance-none border-lightgrey focus:outline-none focus:shadow-outline focus:border-indigo-500" placeholder="First Name" type="text" v-model="user.first_name" validation="alpha:latin"/>
            <FormulateInput input-class="w-full px-4 py-2 mt-4 mb-4 text-base leading-tight text-gray-700 bg-white rounded shadow appearance-none border-lightgrey focus:outline-none focus:shadow-outline focus:border-indigo-500" placeholder="Last Name" type="text" v-model="user.last_name" validation="alpha:latin"/>
            <FormulateInput input-class="w-full px-4 py-2 mt-4 mb-4 text-base leading-tight text-gray-700 bg-white rounded shadow appearance-none border-lightgrey focus:outline-none focus:shadow-outline focus:border-indigo-500" placeholder="Phone Number" type="text" v-model="user.phone" validation="number"/>
            <FormulateInput input-class="w-full px-4 py-2 mt-4 mb-4 text-base leading-tight text-gray-700 bg-white rounded shadow appearance-none border-lightgrey focus:outline-none focus:shadow-outline focus:border-indigo-500" placeholder="Company" type="text" v-model="user.company"/>
            <FormulateInput input-class="w-full px-4 py-2 mt-4 mb-4 text-base leading-tight text-gray-700 bg-white rounded shadow appearance-none border-lightgrey focus:outline-none focus:shadow-outline focus:border-indigo-500" placeholder="Street" type="text" v-model="user.street"/>
            <span class="flex flex-row">
              <FormulateInput input-class="w-4/5 px-4 py-2 mt-4 mb-4 text-base leading-tight text-gray-700 bg-white rounded shadow appearance-none border-lightgrey focus:outline-none focus:shadow-outline focus:border-indigo-500" placeholder="City" type="text" v-model="user.city"/>
              <FormulateInput input-class="w-3/5 px-4 py-2 mt-4 mb-4 ml-auto text-base bg-white border-gray-400 rounded shadow appearance-none focus:outline-none focus:shadow-outline focus:border-indigo-500" placeholder="Zip Code" type="text" v-model="user.zipcode"/>
            </span>
            <div class="relative inline-block">
              <FormulateInput
                input-class="block w-full px-4 py-2 pr-8 leading-tight bg-white border-gray-400 rounded shadow appearance-none hover:border-gray-500 focus:outline-none focus:shadow-outline"
                v-model="user.country"
                :options="{germany: 'Germany', uk: 'United Kingdom', italy: 'Italy', holland: 'Holland'}"
                type="select"
                placeholder="Select Your Country"
              />
              <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
                <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
            <FormulateInput input-class="w-full px-4 py-2 mt-4 mb-4 text-base leading-tight text-gray-700 bg-white rounded shadow appearance-none border-lightgrey focus:outline-none focus:shadow-outline focus:border-indigo-500" placeholder="Website" type="text" v-model="user.website"/>
            <button class="mt-8 md:w-1/5 w-full py-2 ml-auto text-base font-semibold text-white uppercase border-0 rounded md:text-base bg-lightgrey focus:outline-none hover:bg-indigo-600">{{ $t('primary_contact.save') }}</button>
      </div>
  </FormulateForm>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import UserDataService from '../services/UserDataService';

@Component
export default class RegForm extends Vue {
  private user: any = {
    first_name: '',
    last_name: '',
    phone: '',
    company: '',
    street: '',
    city: '',
    zipcode: '',
    country: '',
    website: '',
  };

  private status: boolean = false;
  private submitted: boolean = false;

  public getUser() {
    // Grab pre-set user data and pre-populate form. This is triggered on mount.
    UserDataService.getAll()
      .then((response) => {
        const listOfObjects = Object.keys(response.data).map((key) => {
          this.user.key = response.data[key];
          Vue.set(this.user, key, response.data[key]);
          this.status = true;
        });
      })
      .catch((e) => {
        // console.log(e);
        this.status = false;
      });
  }

  public updateUser(status: boolean) {
    const data = {
      first_name: this.user.first_name,
      last_name: this.user.last_name,
      phone: this.user.phone,
      company: this.user.company,
      street: this.user.street,
      city: this.user.city,
      zipcode: this.user.zipcode,
      country: this.user.country,
      website: this.user.website,
    };

    UserDataService.create(data)
      .then((response) => {
        if (response.status === 201) {
          this.submitted = true;
          this.getUser();
          return true;
        }
      })
      .catch((e) => {
        // console.log(e);
        this.submitted = false;
      });
  }

  protected mounted() {
    this.getUser();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
