<template>
<!--Top Main Nav-->
  <nav class="bg-white shadow-md">
  <div class="px-8 py-2">
  <div class="mx-auto md:max-w-7xl">
      <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
              <div class="flex-shrink-0">
                  <a class="flex items-center text-xl font-bold uppercase" href="/">
                      <img class="w-8 h-8" src="../assets/logo.png" alt="">
                      <span class="ml-1 font-semibold text-black capitalize">QR Code Generator</span>
                      <span class="relative px-1 ml-1 -mt-4 text-xs font-bold text-white uppercase rounded bg-blue">pro</span>
                  </a>

              </div>
              <div class="hidden ml-2 md:block">
                  <div class="flex items-baseline ml-2 border-l-2 border-black border-opacity-25">
                      <a href="/" class="px-3 ml-4 text-sm font-medium rounded-md">
                          <svg class="svg-class hover:text-blue-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 1h18v2H1V1zm6 8h12v2H7V9zm-6 8h18v2H1v-2zM7 5h12v2H7V5zm0 8h12v2H7v-2zM5 6v8l-4-4 4-4z"/></svg>
                      </a>
                  </div>
              </div>
          </div>
          <div class="hidden md:block">
              <div class="flex items-center ml-4 md:ml-6">
                  <span class="flex mr-2">
                      <div>
                        <a @click.prevent="changeLanguage('en')">EN</a>
                        <span> / </span>
                        <a @click.prevent="changeLanguage('de')">DE</a>
                      </div>
                      <a href="/" class="px-3 text-sm hover:text-blue-link">
                          <svg class="svg-class hover:text-blue-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M6 8v7h8V8a4 4 0 1 0-8 0zm2.03-5.67a2 2 0 1 1 3.95 0A6 6 0 0 1 16 8v6l3 2v1H1v-1l3-2V8a6 6 0 0 1 4.03-5.67zM12 18a2 2 0 1 1-4 0h4z"/></svg>
                      </a>
                      <a href="/" class="px-3 pr-6 text-sm border-r-2 border-black border-opacity-25">
                          <svg class="svg-class hover:text-blue-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm2-13c0 .28-.21.8-.42 1L10 9.58c-.57.58-1 1.6-1 2.42v1h2v-1c0-.29.21-.8.42-1L13 9.42c.57-.58 1-1.6 1-2.42a4 4 0 1 0-8 0h2a2 2 0 1 1 4 0zm-3 8v2h2v-2H9z"/></svg>
                      </a>
                      <span class=""></span>
                  </span>
                  <a href="/" class="flex px-3 py-2 text-sm group">
                      <svg class="mt-1 svg-class group-hover:text-blue-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M5 5a5 5 0 0 1 10 0v2A5 5 0 0 1 5 7V5zM0 16.68A19.9 19.9 0 0 1 10 14c3.64 0 7.06.97 10 2.68V20H0v-3.32z"/></svg>
                      <span class="relative ml-2 text-xl font-semibold">{{ $t('nav.account') }}</span>
                  </a>
              </div>
          </div>
          <div class="flex -mr-2 md:hidden">
              <button class="inline-flex items-center justify-center p-2 text-gray-400 rounded-md">
                  <svg class="w-6 h-6 hover:text-blue-link" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                      <path class="inline-flex" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                      <path class="hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                  </svg>
              </button>
          </div>
      </div>
  </div>
  </div>
</nav>
<!--Top Main Nav-->
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import i18n from '../i18n';

@Component
export default class TopMainNav extends Vue {
  @Prop({ default: 'en' })
    public lang!: string;

  public changeLanguage(language: string) {
    if (language) {
        this.$i18n.locale = language;
        this.setDefaultLanguage();
        return true;
    }
  }

  public setDefaultLanguage(): boolean {
      this.lang = this.$i18n.locale;
      this.$emit('setDefaultLang', this.lang);
      return true;
  }

  public mounted() {
      this.setDefaultLanguage();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
