@tailwind base;

@tailwind components;

.svg-class {
  @apply h-5 fill-current text-blue;
}

.mini-menu-item {
    @apply px-4 py-2 mr-6 text-lg font-medium text-lightgrey;
}

.mini-menu-item-small {
    @apply px-4 py-2 mr-4 text-xs font-medium text-lightgrey;
}

.mini-box {
    @apply flex flex-col p-6 text-center border-2 border-solid rounded border-white-darker;
}

.mini-box-2 {
    @apply flex flex-col p-6 border-2 border-solid rounded border-white-darker;
}

.mini-box-en {
    @apply flex flex-col p-6 text-center border-2 border-solid rounded border-white-darker;
}

.mini-box-de {
    @apply flex flex-col px-3 py-5 text-center border-2 border-solid rounded border-white-darker;
}

.mini-box-white {
    @apply flex flex-col p-6 bg-white shadow-lg text-center border-2 border-solid rounded border-white-darker;
}

.mini-box-first-text {
    @apply text-sm font-bold uppercase text-lightgrey;
}

.mini-box-first-text-1 {
    @apply text-sm font-semibold uppercase text-blue-link;
}

.mini-box-first-text-2 {
    @apply text-sm font-bold uppercase text-blue-dark;
}

.mini-box-second-text {
    @apply text-base font-semibold text-blue-dark;
}

.mini-box-second-text-2 {
    @apply text-base font-light text-lightgrey;
}

.small-button {
    @apply px-1 my-4 -mb-8 text-xs font-bold text-white uppercase rounded-lg shadow-lg bg-blue;
}

.small-button {
    width: max-content;
}

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,900;1,700&display=swap');