<template>
  <div id="app" class="bg-blue-light">
    <TopMainNav @setDefaultLang="setClassLang($event)" />
    <!--Inner Nav-->
    <div class="px-12 pt-12 border-b-2 border-opacity-75 border-white-darker">
        <div class="px-8 pt-2">
        <div class="mx-auto md:max-w-7xl">
            <div class="flex items-center h-auto">
                <h1 class="text-5xl font-extrabold mb-6 md:mb-0 text-black">Egoditor GmbH</h1>
                <a class="flex mb-1 hover:underline group" href="">
                    <span class="ml-10 mr-2 -mt-1 text-lg font-semibold hover:text-blue-link text-blue-link">Edit</span> 
                    <svg class="svg-class group-hover:text-blue-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.3 3.7l4 4L4 20H0v-4L12.3 3.7zm1.4-1.4L16 0l4 4-2.3 2.3-4-4z"/></svg>
                </a>
            </div>
        </div>
        <div class="bottom-0 hidden mt-10 mini-menu md:block">
            <ul class="flex flex-row overflow-auto">
                <li class="border-b-2 mini-menu-item text-lightgrey border-blue"><a>{{ $t('inner_nav.account') }}</a></li>
                <li class="mini-menu-item"><a href="">{{ $t('inner_nav.settings') }}</a></li>
                <li class="mini-menu-item"><a href="">{{ $t('inner_nav.user_management') }}</a></li>
                <li class="mini-menu-item"><a href="">{{ $t('inner_nav.white_label') }}</a></li>
                <li class="mini-menu-item"><a href="">{{ $t('inner_nav.keys') }}</a></li>
                <li class="mini-menu-item"><a href="">{{ $t('inner_nav.billing') }}</a></li>
            </ul>
        </div>
        </div>
    </div>
    <!--Inner Nav-->
    <!--Bottom Body Section-->
    <div class="md:pl-12 px-12 pt-12 bg-darklightgrey">
        <div class="md:px-8 pt-2">
        <div class="flex flex-col mx-auto justify-evenly md:max-w-7xl">
            <!--Left/Right Cards-->
            <div class="flex items-start h-auto pb-10">
                <div class="container flex py-2 mx-auto">
                    <!--Left Card-->
                    <div class="relative z-10 flex flex-col w-full p-8 mt-12 rounded-lg shadow-md bg-blue-light lg:w-5/12 md:w-1/2 md:mt-0">
                        <!--Information Section-->
                        <div>
                            <h1 class="mb-1 text-3xl font-bold text-blue-dark title-font">{{ $t('information.information') }}</h1>
                            <ul class="flex flex-col mt-4 mb-6 lg:flex-row justify-evenly">
                                <li :class="'mb-2 lg:mr-2 lg:mb-0 mini-box-' + classLang">
                                    <span class="mini-box-first-text">{{ $t('information.customer_id') }}</span>
                                    <span class="mini-box-second-text">app-u-103</span>
                                </li>
                                <li :class="'mb-2 lg:mr-2 lg:mb-0 mini-box-' + classLang">
                                    <span class="mini-box-first-text">{{ $t('information.signup_date') }}</span>
                                    <span class="mini-box-second-text">28/11/12</span>
                                </li>
                                <li :class="'mini-box-' + classLang">
                                    <span class="mini-box-first-text">{{ $t('information.account') }}</span>
                                    <span class="mini-box-second-text">Professional</span>
                                </li>
                            </ul>
                            <div class="flex flex-col mb-10 sm:flex-row mini-box-2">
                                <div>
                                    <span class="flex justify-start mb-2 text-left mini-box-first-text">{{ $t('information.login_email') }}</span>
                                    <span class="text-left mini-box-second-text">designcode@qrcg.com</span>
                                </div>
                                <div class="flex-col justify-center mt-2 sm:mt-0 sm:ml-auto sm:justify-end">
                                    <a href="" class="flex mb-2 text-xs text-right hover:underline sm:justify-end mini-box-first-text text-blue-link">{{ $t('information.password') }}</a>
                                    <a href="" class="flex text-xs hover:underline sm:text-right sm:-ml-2 mini-box-first-text text-blue-link">{{ $t('information.change_email') }}</a>
                                </div>
                            </div>
                            <!--Information Section-->
                            <RegForm/>
                        </div>
                    </div>
                    <div class="flex flex-col hidden overflow-auto md:block">
                        <!--Right Top Card-->
                        <div class="p-8 pl-16">
                            <h1 class="mb-1 ml-auto text-3xl font-bold text-blue-dark title-font">{{ $t('usage.usage') }}</h1>
                            <ul class="flex flex-col mt-4 mb-6 lg:flex-row justify-evenly">
                                <li class="relative mb-4 mr-2 mini-box">
                                    <span class="mini-box-first-text">{{ $t('usage.scans') }}</span>
                                    <span class="text-3xl font-normal mini-box-first-text-2">361</span>
                                    <span class="italic font-thin mini-box-second-text-2">{{ $t('usage.unlimited') }}</span>
                                    <button class="small-button">{{ $t('usage.upgrade') }}</button>
                                </li>
                                <li class="mb-4 mr-2 mini-box">
                                    <span class="mini-box-first-text">{{ $t('usage.dynamic') }}</span>
                                    <span class="text-3xl font-normal mini-box-first-text-2">587</span>
                                    <span class="italic font-thin mini-box-second-text-2">25000</span>
                                    <button class="small-button">{{ $t('usage.upgrade') }}</button>
                                </li>
                                <li class="mb-4 mr-2 mini-box">
                                    <span class="mini-box-first-text">{{ $t('usage.static') }}</span>
                                    <span class="text-3xl font-normal mini-box-first-text-2">49</span>
                                    <span class="italic font-thin mini-box-second-text-2">25000</span>
                                    <button class="small-button">{{ $t('usage.upgrade') }}</button>
                                </li>
                                <li class="mb-4 mini-box">
                                    <span class="mini-box-first-text">{{ $t('usage.reg_users') }}</span>
                                    <span class="text-3xl font-normal mini-box-first-text-2">51</span>
                                    <span class="italic font-thin mini-box-second-text-2">6000</span>
                                    <button class="small-button">{{ $t('usage.upgrade') }}</button>
                                </li>
                            </ul>
                        </div>
                        <!--Right Bottom Card-->
                        <div class="invisible p-8 pl-16 md:visible">
                            <h1 class="mb-1 ml-auto text-3xl font-bold text-blue-dark title-font">{{ $t('who_are_you.who_are_you') }}</h1>
                            <h4 class="">{{ $t('who_are_you.description') }}</h4>
                            <div class="flex flex-col mt-4 mb-6 lg:flex-row justify-evenly">
                                <a href="" class="lg:mr-2 mini-box-white group">
                                    <span class="flex justify-center mb-4">
                                        <svg class="mt-1 svg-class group-hover:text-blue-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M14 5h2v14H4V5h2V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1zm3 0h1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1V5zM3 5v14H2a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2h1zm5-1v1h4V4H8z"/></svg>
                                    </span>
                                    <span class="mini-box-first-text-1">{{ $t('who_are_you.business') }}</span>
                                </a>
                                <a href="" class="lg:mr-2 mini-box-white group">
                                    <span class="flex justify-center mb-4">
                                        <svg class="mt-1 svg-class group-hover:text-blue-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 6l10-6 10 6v2H0V6zm0 12h20v2H0v-2zm2-2h16v2H2v-2zm0-8h4v8H2V8zm6 0h4v8H8V8zm6 0h4v8h-4V8z"/></svg>
                                    </span>
                                    <span class="mini-box-first-text-1">{{ $t('who_are_you.agency') }}</span>
                                </a>
                                <a href="" class="lg:mr-2 mini-box-white group">
                                    <span class="flex justify-center mb-4">
                                        <svg class="mt-1 svg-class group-hover:text-blue-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 3.22l-.61-.6a5.5 5.5 0 0 0-7.78 7.77L10 18.78l8.39-8.4a5.5 5.5 0 0 0-7.78-7.77l-.61.61z"/></svg>
                                    </span>
                                    <span class="mini-box-first-text-1">{{ $t('who_are_you.non_profit') }}</span>
                                </a>
                                <a href="" class="lg:mr-2 mini-box-white group">
                                    <span class="flex justify-center mb-4">
                                        <svg class="mt-1 svg-class group-hover:text-blue-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M3.33 8L10 12l10-6-10-6L0 6h10v2H3.33zM0 8v8l2-2.22V9.2L0 8zm10 12l-5-3-2-1.2v-6l7 4.2 7-4.2v6L10 20z"/></svg>
                                    </span>
                                    <span class="mini-box-first-text-1">{{ $t('who_are_you.educational') }}</span>
                                </a>
                                <a href="" class="mini-box-white group">
                                    <span class="flex justify-center mb-4">
                                        <svg class="mt-1 svg-class group-hover:text-blue-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M5 5a5 5 0 0 1 10 0v2A5 5 0 0 1 5 7V5zM0 16.68A19.9 19.9 0 0 1 10 14c3.64 0 7.06.97 10 2.68V20H0v-3.32z"/></svg>
                                    </span>
                                    <span class="mini-box-first-text-1">{{ $t('who_are_you.private') }}</span>
                                </a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!--Right Cards-->
                </div>
            </div>
    </div>
    <!--Bottom Body Section-->
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import TopMainNav from './components/TopMainNav.vue';
import RegForm from './components/RegForm.vue';
import i18n from './i18n';

@Component({
  components: {
    TopMainNav,
    RegForm,
  },
})
export default class App extends Vue {
    @Prop({ default: 'en' })
    public classLang: string = '';

    public setClassLang(classLang: string): boolean {
        this.classLang = classLang;
        return true;
    }
}
</script>

<style>
#app {
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
  font-family: Source Sans Pro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
